{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Hero Start -->
    <div class="container-fluid bg-primary p-5 bg-hero mb-5">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h1 class="display-2 text-uppercase text-white mb-md-4">Blog Detail</h1>
                <a href="{% url 'blog:blog_list_view' %}" class="btn btn-primary py-md-3 px-md-5 me-3">Other Blogs</a>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Blog Start -->
    <div class="container-fluid p-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    <img class="img-fluid w-100 rounded mb-5" src="{{ blog.image.url }}" alt="">
                    <h1 class="text-uppercase mb-4">{{ blog.title }}</h1>
                    <p>{{ blog.description }}</p>

                </div>
                <!-- Blog Detail End -->

                <!-- Comment List Start -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4">{{ comments.count }} Comments</h3>
                    {% for comment in comments %}
                        {% if not comment.parent %}
                    <div class="d-flex mb-4">
                        <img src="img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h4>{{ comment.title }}</h4>
                            <h6><a href="">{{ comment.user.username }}</a> <small><i>{{ comment.published_at }}</i></small></h6>
                            <p>{{ comment.comment_description }}</p>
                            <button onclick="set_value({{ comment.pk }})" class="btn btn-sm btn-secondary">Reply</button>
                        </div>
                    </div>
                            {% if comment.replies %}
                                {% for reply in comment.replies.all %}
                    <div class="d-flex ms-3 mb-4">
                        <img src="img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h5>(reply to : {{ comment.comment_description|truncatechars:10 }} )</h5>
                            <h6><a href="">{{ reply.user.username }}</a> <small><i>{{ reply.published_at }}</i></small></h6>
                            <p>{{ reply.comment_description }}</p>
                            <button onclick="set_value({{ reply.pk }})" class="btn btn-sm btn-secondary">Reply</button>
                        </div>
                    </div>
                                    {% if reply.replies.all %}
                                        {% for sub in reply.replies.all %}
                                                       <div class="d-flex ms-5 mb-4">
                        <img src="img/user.jpg" class="img-fluid rounded" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h5>(reply to : {{ reply.comment_description|truncatechars:10 }} )</h5>
                            <h6><a href="">{{ sub.user.username }}</a> <small><i>{{ sub.published_at }}</i></small></h6>
                            <p>{{ sub.comment_description }}</p>
                        </div>
                    </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Comment List End -->

                <!-- Comment Form Start -->
                <div id="get_here" class="bg-dark rounded p-5">
                    <h3 id="leave_a_comment" class="text-light text-uppercase mb-4">Leave a comment</h3>
                    <form method="post" action="{% url 'blog:create_blogcomment' blog.pk %}">{% csrf_token %}
                        <div class="row g-3">
                            <input type="hidden" id="parent_id" name="parent_id" value="">
                            <a id="cancel_reply" href="" onclick="cancel_reply()" style="display: none;"><button class="btn btn-danger" type="reset">Cancel Replying</button></a>
                            <div class="col-12 col-sm-6">
                                {{form.title}}
                            </div>

                            <div class="col-12">
                                {{form.comment_description}}
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Leave Your Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Comment Form End -->
            </div>

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Search Form Start -->
                <div class="mb-5">
                    <div class="input-group">
                        <input type="text" class="form-control p-3" placeholder="Keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
                <!-- Search Form End -->

                <!-- Category Start -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4">Blogs Categories</h3>
                    <div class="d-flex flex-column justify-content-start bg-dark rounded p-4">
                        {% for category in categories %}
                        <a class="fs-5 fw-bold text-light text-uppercase mb-2" href="{% url 'blog:blog_list_view' %}?category={{ category.title }}"><i class="bi bi-arrow-right text-primary me-2"></i>{{ category.title }}</a>
{% endfor %}
                    </div>

                </div>
                <!-- Category End -->


                <!-- Tags Start -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4">blogs tags</h3>
                    <div class="d-flex flex-wrap m-n1">
                        {% for tag in tags %}
                        <a href="{% url 'blog:blog_list_view' %}?tag={{ tag.tag_title }}" class="btn btn-dark m-1">{{ tag.tag_title }}</a>
                        {% endfor %}
                    </div>
                </div>
                <!-- Tags End -->

                <!-- Plain Text Start -->
{#                <div>#}
{#                    <h3 class="text-uppercase mb-4">Plain Text</h3>#}
{#                    <div class="bg-dark rounded text-center text-light" style="padding: 30px;">#}
{#                        <p>Vero sea et accusam justo dolor accusam lorem consetetur, dolores sit amet sit dolor clita kasd justo, diam accusam no sea ut tempor magna takimata, amet sit et diam dolor ipsum amet diam</p>#}
{#                        <a href="" class="btn btn-primary py-2 px-4">Read More</a>#}
{#                    </div>#}
{#                </div>#}
                <!-- Plain Text End -->
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
    <!-- Blog End -->
    <script>
    function set_value(id){
        document.getElementById('parent_id').value = id;
        document.getElementById('leave_a_comment').textContent = 'Reply To Selected Comment';
        window.location.href = '#get_here';
        document.getElementById('cancel_reply').style = '';

    }

    </script>
    <script>
    function cancel_reply(){
        document.getElementById('cancel_reply').style = 'display: none ;';
        document.getElementById('leave_a_comment').textContent = 'Leave A Comment';
        document.getElementById('parent_id').value = '';

    }
    </script>

{% endblock %}