{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Hero Start -->
    <div class="container-fluid bg-primary p-5 bg-hero mb-5">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h1 class="display-2 text-uppercase text-white mb-md-4">Blogs</h1>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Blog Start -->
    <div class="container-fluid p-5">
        <div class="row g-5">
            <!-- Blog list Start -->
            <div class="col-lg-8">
                <div class="row g-5">
                    {% for blog in blogs %}
                        <div class="col-md-6">
                            <div class="blog-item">
                                <div class="position-relative overflow-hidden rounded-top">
                                    <img class="img-fluid" src="{{ blog.image.url }}" alt="">
                                </div>
                                <div class="bg-dark d-flex align-items-center rounded-bottom p-4">
                                    <div class="flex-shrink-0 text-center text-secondary border-end border-secondary pe-3 me-3">
                                        <span></span>
                                        <h6 class="text-light text-uppercase mb-0">{{ blog.published_at }}</h6>
                                        <span></span>
                                    </div>
                                    <a class="h5 text-uppercase text-light"
                                       href="{% url 'blog:blog_detail' blog.pk %}">{{ blog.title }}</h4></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <!-- Paginating -->
                    {% if blogs.has_other_pages %}
                        <div class="col-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination pagination-lg justify-content-center m-0">


                                    {% if blogs.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ blogs.previous_page_number }}"
                                               aria-label="Previous">
                                                <span aria-hidden="true"><i class="bi bi-arrow-left"></i></span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for num in blogs.paginator.page_range %}
                                        {% if blogs.number == num %}
                                            <li class="page-item active"><a class="page-link"
                                                                            href="?page={{ num }}">{{ num }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ num }}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if blogs.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ blogs.next_page_number }}"
                                               aria-label="Next">
                                                <span aria-hidden="true"><i class="bi bi-arrow-right"></i></span>
                                            </a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </nav>
                        </div>
                    {% endif %}
                    <!-- End Paginating -->

                </div>
            </div>
            <!-- Blog list End -->

            <!-- Sidebar Start -->
            <div class="col-lg-4">
    <!-- Search Form Start -->
    <div class="mb-5">
        <div class="input-group">
            <input type="text" class="form-control p-3" placeholder="Keyword">
            <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
        </div>
    </div>
    <!-- Search Form End -->

    <!-- Category Start -->
    <div class="mb-5">
        <h3 class="text-uppercase mb-4">Categories</h3>
        <div class="d-flex flex-column justify-content-start bg-dark rounded p-4">
            <a class="fs-5 fw-bold text-light text-uppercase mb-2 active"
            {#                           href="{% url 'blog:blog_list_view' %}"><i class="bi bi-arrow-right text-primary me-2"></i>All#}
            {#                            Blogs</a>#}
            {#                    یا بالایی یا پایینی که یک مقدار چرتو پرت به اچ رف میدیم که درواقع #}
            {#                    هیچ کتگوری ای با اون اسم وجود نداشته باشه و ارور میگیره و وقتی ارور#}
            {#                    بگیره دستورات اکسپکت رو اجرا میکنه که تو اکسپکت گفتیم #}
            {#                    کل مقالات رو نمایش بده#}
            <a class="fs-5 fw-bold text-light text-uppercase mb-2 active" href="?category=harchi"><i
                    class="bi bi-arrow-right text-primary me-2"></i>All Blogs</a>
            {% for category in categories %}

                <a class="fs-5 fw-bold text-light text-uppercase mb-2 active"
                   href="?category={{ category.title }}"><i
                        class="bi bi-arrow-right text-primary me-2"></i>{{ category.title }}</a>

            {% endfor %}
        </div>
    </div>
    <!-- Category End -->

    <!-- Recent Post Start -->
    <div class="mb-5">
        <h3 class="text-uppercase mb-4">Recent Post</h3>
        <div class="bg-dark rounded p-4">
            {% for recent in recents %}
                <div class="d-flex overflow-hidden mb-3">
                    <img class="img-fluid flex-shrink-0 rounded-start" src="{{ recent.image.url }}" style="width: 75px;"
                         alt="">
                    <a href="{% url 'blog:blog_detail' recent.pk %}"
                       class="d-flex align-items-center bg-light rounded-end h5 text-uppercase p-3 mb-0">{{ recent.title }}
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
    <!-- Recent Post End -->

    <!-- Tags Start -->
    <div class="mb-5">
        <h3 class="text-uppercase mb-4">Tag Cloud</h3>
        <div class="d-flex flex-wrap m-n1">
            {% for tag in tags %}
                <a href="?tag={{ tag.tag_title }}" class="btn btn-dark m-1">{{ tag.tag_title }}</a>
            {% endfor %}
        </div>
    </div>
    <!-- Tags End -->

    <!-- Plain Text Start -->
    {#                <div>#}
    {#                    <h3 class="text-uppercase mb-4">Plain Text</h3>#}
    {#                    <div class="bg-dark rounded text-center text-light" style="padding: 30px;">#}
    {#                        <p>Vero sea et accusam justo dolor accusam lorem consetetur, dolores sit amet sit dolor clita kasd justo, diam accusam no sea ut tempor magna takimata, amet sit et diam dolor ipsum amet diam</p>#}
    {#                        <a href="" class="btn btn-primary py-2 px-4">Read More</a>#}
    {#                    </div>#}
    {#                </div>#}
    <!-- Plain Text End -->
</div>
            <!-- Sidebar End -->
        </div>
    </div>
    <!-- Blog End -->


{% endblock %}