{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Hero Start -->
    <div class="container-fluid bg-primary p-5 bg-hero mb-5">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h1 class="display-2 text-uppercase text-white mb-md-4">About Us</h1>
{#                <a href="{% url 'home:show_home' %}" class="btn btn-primary py-md-3 px-md-5 me-3">Home</a>#}
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- About Start -->
    <div class="container-fluid p-5">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="{% static 'img/about.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="text-primary text-uppercase">About Us</h5>
                    <h1 class="display-3 text-uppercase mb-0">Welcome to KeyO-Gym</h1>
                </div>
                <h4 class="text-body mb-4">Introduce</h4>
                <p class="mb-4">باشگاه ورزشی ما یکی از باشگاه های ورزشی موفق در زمینه ی بدنسازی کاراته بوکس و ... میباشد که دستاورد های بسیاری را کسب کرده است.</p>
                <div class="rounded bg-dark p-5">
                    <ul class="nav nav-pills justify-content-between mb-3">
                        <li class="nav-item w-50">
                            <a class="nav-link text-uppercase text-center w-100 active" data-bs-toggle="pill" href="#pills-1">درباره ی ما</a>
                        </li>
                        <li class="nav-item w-50">
                                <a class="nav-link text-uppercase text-center w-100" data-bs-toggle="pill" href="#pills-2">چرا ما؟</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-1">
                            <p class="text-secondary mb-0">این باشگاه ورزشی در سال 1395 تاسیس شده که از آن زمان تا به اکنون پذیرای بسیاری از افراد با سنین مختلف و در رشته های بوده است که افتخاری محسوب میشود که شاهد رشد و شکوفایی استعداد نزدیک به دو هزار نفر در رشته های ورزشی گوناگون بوده است(توضیحات صرفا برای پر شدن این بخش از سایت میباشد).</p>
                        </div>
                        <div class="tab-pane fade" id="pills-2">
                            <p class="text-secondary mb-0">این باشگاه ورزشی در سال 1395 تاسیس شده که از آن زمان تا به اکنون پذیرای بسیاری از افراد با سنین مختلف و در رشته های بوده است که افتخاری محسوب میشود که شاهد رشد و شکوفایی استعداد نزدیک به دو هزار نفر در رشته های ورزشی گوناگون بوده است(توضیحات صرفا برای پر شدن این بخش از سایت میباشد).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Programe Start -->
    <div class="container-fluid programe position-relative px-5 mt-5" style="margin-bottom: 180px;">
        <div class="row g-5 gb-5">
            <a href="{% url 'schedule:schedule_view' %}" class="col-lg-4 col-md-6">
                <div class="bg-light rounded text-center p-5">
                    <i class="flaticon-six-pack display-1 text-primary"></i>
                    <h3 class="text-uppercase my-4">Body Building</h3>
                    <p>آموزش پیلاتیس و فیتنس </p>
                </div>
            </a>
            <a href="{% url 'schedule:schedule_view' %}" class="col-lg-4 col-md-6">
                <div class="bg-light rounded text-center p-5">
                    <i class="flaticon-barbell display-1 text-primary"></i>
                    <h3 class="text-uppercase my-4">Weight Lefting</h3>
                    <p>کاهش وزن و چربی</p>
                </div>
            </a>
            <a href="{% url 'schedule:schedule_view' %}" class="col-lg-4 col-md-6">
                <div class="bg-light rounded text-center p-5">
                    <i class="flaticon-bodybuilding display-1 text-primary"></i>
                    <h3 class="text-uppercase my-4">Muscle Building</h3>
                    <p>تقویت عضلات با حرکات و تغذیه مناسب</p>
                </div>
            </a>
            <div class="col-lg-12 col-md-6 text-center">
                <h1 class="text-uppercase text-light mb-4" style="font-family: 'Dubai Medium'">⬇تخفیفات ثبت نام کلاسها به مناسبت عید⬇</h1>
                <a href="{% url 'account:login' %}" class="btn btn-primary py-3 px-5" style="font-family: 'Dubai Medium'">!به ما بپیوندید</a>
            </div>
        </div>
    </div>
    <!-- Programe Start -->


    <!-- Facts Start -->
    <div class="container-fluid bg-dark facts p-5" style="margin-bottom: 90px;">
        <div class="row gx-5 gy-4 py-5">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-star fs-4 text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-secondary text-uppercase">Experience</h5>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">0</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-users fs-4 text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-secondary text-uppercase">Our Trainers</h5>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">{{ trainers_count }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-check fs-4 text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-secondary text-uppercase">Complete Project</h5>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">0</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-mug-hot fs-4 text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-secondary text-uppercase">Happy Clients</h5>
                        <h1 class="display-5 text-white mb-0" data-toggle="counter-up">0</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->

{% endblock %}